<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvControlador</servlet-name>
        <servlet-class>Controlador.srvControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvAccesoEst</servlet-name>
        <servlet-class>Controlador.srvAccesoEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvAccesoAdm</servlet-name>
        <servlet-class>Controlador.srvAccesoAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsAdm</servlet-name>
        <servlet-class>Controlador.srvInsAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRptEst</servlet-name>
        <servlet-class>Controlador.srvRptEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUpdAdm</servlet-name>
        <servlet-class>Controlador.srvUpdAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvDelAdm</servlet-name>
        <servlet-class>Controlador.srvDelAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvControlador</servlet-name>
        <url-pattern>/srvControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvAccesoEst</servlet-name>
        <url-pattern>/srvAccesoEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvAccesoAdm</servlet-name>
        <url-pattern>/srvAccesoAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsAdm</servlet-name>
        <url-pattern>/srvInsAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRptEst</servlet-name>
        <url-pattern>/srvRptEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUpdAdm</servlet-name>
        <url-pattern>/srvUpdAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvDelAdm</servlet-name>
        <url-pattern>/srvDelAdm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
